body {
    font-family: 'Roboto', arial;
}

.blockone{
    background-color: #1f2937;
}

.banner {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    padding: 40px;
}

.bannerinfo {
    flex: 1;
    margin-left: 100px;
}

.bannerimage {
    flex: 1;
    margin-right: 100px;
}

.bannersubtitle {
    font-size: 30px;
    font-weight: 700;

}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    margin-top: 10px;
}


.header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.headerlogo {
    font-size: 60px;
    font-weight: 700;
    color: #F9FAF8;
    flex: 2;
}

.headerlinkcontainer {
    display: flex;
    flex: 1;
}

.headerlink {
    color: #F9FAF8;
}

.header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.infobanner {
    display: flex;
    font-size: 40px;
    font-weight: 700;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
}

.infocontainer {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;

}

.infoimage {
    border: 10px;
    border-color: #3882f6;
}

.photocardbox {
    height: 200px;
    width: 220px;
    border-radius: 15px;
    border-color: ;
    border: #3882f6 4px solid;
}

.infodescription {
    text-align: center;
}

.subcontainerone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.subcontainertwo {
    display: flex;
    
    
}

.quotecontainer {
    background-color: #e5e7eb;
    justify-content: space-evenly;
   
}

.quotebox {
    display: flex;
    flex-direction: column;    
    color: #1f2937;
    padding: 100px;
    font-style: italic;
    
}

.quoteblock {
    font-size: 36px;

}

.quotesignature {
    text-align: right;
    justify-content: flex-end;
}

.ctabanner {

}

.ctabutton {
    
}

.ctadescription {

}

.footer {

}

